{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <meta name="author" content="dakonondevelopers">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap4/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link id="favicon" rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}" ></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <!-- Bootstrap core CSS-->
        <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Custom fonts for this template-->
        <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
        <!-- Page level plugin CSS-->
        <!-- <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"> -->
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
        {% block extraCss %}{% endblock %}

        <title id="title-page">{% block title %}{% endblock %}</title>
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    	{% include 'base.navbar.html' %}
        <!-- <div class="container"> -->
        <div class="content-wrapper">
            <div class="container-fluid">
              <!-- Breadcrumbs-->
              <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
              </ol> -->
                <h1 class="text-center">{% block page_title %}{% endblock %}</h1><br />
                {% include 'base.alert.msg.html' %}
        <!-- </div> -->
                {% block superContent %}
                    <div class="container" id="content">
                        {% block content %}{% endblock %}
                    </div>
                {%endblock%}
            </div>
        </div>
        <footer>
    		    {% include 'base.footer.html' %}
    	  </footer>
    	<script type="text/javascript" src="{% static 'plugins/bootstrap4/js/jquery-3.2.1.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'plugins/bootstrap4/js/popper.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'plugins/bootstrap4/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/bootstrap-datepicker//js/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/bootstrap-datepicker//js/bootstrap-datepicker.es.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/sb-admin.min.js' %}"></script>

    	{% block extraJs %}{% endblock %}
    </body>
</html>
