ansible==2.6.18
asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2017.7.27.1
cffi==1.11.4
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.1.4
dj-database-url==0.4.2
Django==1.9
django-braces==1.11.0
django-filter==1.0.4
djangorestframework==3.6.3
dry-rest-permissions==0.1.9
freeze==1.0.10
gunicorn==19.7.1
idna==2.6
itypes==1.1.0
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
paramiko==2.4.0
path.py==10.5
psycopg2==2.7.3.1
py==1.4.34
pyasn1==0.4.2
pycparser==2.18
Pygments==2.2.0
PyNaCl==1.2.1
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
six==1.11.0
Unipath==1.1
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.1
